.c-top-10 {
  --clr-poster-bg: rgb(35, 35, 35);
  --clr-text-rank: rgb(65, 65, 65);
  --webkit-clr-text-fill: #000;
}

.c-top-10__title {
  font-size: 1.125rem;
  font-weight: 500;
}

@media (min-width: 960px) {
  .c-top-10__title {
    font-size: 1.5rem;
    font-weight: 500;
  }
}

@media (min-width: 1920px) {
  .c-top-10__title {
    font-size: 2rem;
    font-weight: 700;
  }
}

.c-top-10__viewport {
  position: relative;
  margin-top: 0.75rem;
}

@media (min-width: 960px) {
  .c-top-10__viewport {
    margin-top: 1rem;
  }
}

@media (min-width: 1920px) {
  .c-top-10__viewport {
    margin-top: 1.5rem;
  }
}

.swiper-slide {
  width: auto !important;
  padding: 0.25rem 0.625rem;
  flex-shrink: 0;
}

@media (min-width: 960px) {
  .swiper-slide {
    padding: 0.5rem 1.375rem;
  }
}

.c-top-10__btn {
  position: relative;
  padding: 0;
  background-color: var(--clr-poster-bg);
  border: none;
  border-radius: 0.5rem;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

@media (any-hover: hover) {
  .c-top-10__btn:hover {
    transform: scale(1.05);
  }
}

.c-top-10__poster {
  width: 7rem;
  height: 9.8rem;
  border-radius: 0.5rem;
  background-color: rgb(35, 35, 35);
  background-size: cover;
  background-position: center;
}

@media (min-width: 960px) {
  .c-top-10__poster {
    width: 8.75rem;
    height: 12.25rem;
  }
}

@media (min-width: 1280px) {
  .c-top-10__poster {
    width: 11.25rem;
    height: 15.75rem;
  }
}

@media (min-width: 1920px) {
  .c-top-10__poster {
    width: 13.375rem;
    height: 18.75rem;
  }
}

.c-top-10__rank {
  position: absolute;
  font-size: 4rem;
  left: -0.625rem;
  bottom: 0.625rem;
  line-height: 1;
  display: inline-block;
  height: 1em;
  font-weight: 700;
  color: var(--clr-text-rank);
  -webkit-text-stroke: 0.25rem var(--clr-text-primary);
  text-shadow: 0 0 1.5rem rgba(var(--clr-shadow), 0.5);
}

@media (min-width: 960px) {
  .c-top-10__rank {
    font-size: 5rem;
    left: -1.125rem;
  }
}

@media (min-width: 1280px) {
  .c-top-10__rank {
    font-size: 6.25rem;
  }
}

@media (min-width: 1920px) {
  .c-top-10__rank {
    font-size: 7.5rem;
  }
}

.c-top-10__rank::before {
  content: attr(data-content);
  -webkit-text-fill-color: var(--webkit-clr-text-fill);
  -webkit-text-stroke: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.c-top-10__control-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  background: rgb(0, 0, 0);
}

.c-top-10__control-wrapper--prev {
  left: -2.25rem;
}

.c-top-10__control-wrapper--next {
  right: -2.25rem;
}

.c-top-10__control {
  height: 7.5rem;
  width: 1.5rem;
  border-radius: 0.5rem;
  border: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.c-top-10__control:hover,
.c-top-10__control:focus-visible {
  background-color: rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
}

.c-top-10__control--prev.c-top-10__control--hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-100%);
  transition: all 0.3s ease-in;
}

.c-top-10__control--next.c-top-10__control--hidden {
  opacity: 0;
  pointer-events: none;
  transform: translateX(100%);
  transition: all 0.3s ease-in;
}
